.bottom-sidebar {
    position: relative;
    background-color: $light-color;

    display: flex;
    flex: 1 0 100%;
    flex-wrap: wrap;
    order: 4;
    padding: 15px;


    &__left {
        display: flex;
        position: relative;
        flex: 1 0 50%;
        align-items: flex-start;
        padding: 20px 15px 25px;
        border: 5px solid #ffffff;
        border-right: none;
        background: linear-gradient(to bottom, #ffffff 0%, #f5f5f5 50%, #eeeeee 100%);

        @media (max-width: 768px) {
            flex: 1 0 100%;
            padding: 15px;
        }
    }

    &__right {
        display: flex;
        position: relative;
        flex: 1 0 50%;
        align-items: flex-start;
        padding: 20px 15px 25px;
        border: 5px solid #ffffff;
        border-left: none;
        background: linear-gradient(to bottom, #ffffff 0%, #f5f5f5 50%, #eeeeee 100%);

        @media (max-width: 768px) {
            flex: 1 0 100%;
            padding: 15px;
        }
    }

    img {
        padding: 0 15px 15px 0;
        
    }

    p {
        margin: 0;
    }
}

.bottom-sidebar::before {
    position: absolute;
    top: 14px;
    right: 14px;
    bottom: 14px;
    left: 14px;
    content: "";
    background-color: #dddddd;
}

@media (min-width: $small + 1) {

    .bottom-sidebar__left::after {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        content: "";
        border-right: 1px solid #dddddd;
    }
}

@media (max-width: 768px) {
    .bottom-sidebar__right img {
        padding: 0 0 15px 15px;
        order: 2;
    }
}
