.slider {
    position: relative;
    width: 100%;
    padding: 15px;
    background-color: $light-color;
    order: 1;

    min-height: 236px;
}

.slides {
    position: relative;
}

.slide {
    position: absolute;
    top: 0;
    opacity: 0;
    border: 7px solid #ffffff;

    display: flex;
    background-image: url(/assets/img/carousel-item-bg.png);

    &-image {
        padding: 15px;

        @media (max-width: 768px) {
            flex: 1 0 100%;
            justify-content: center;
        }
    }

    &-description {
        padding: 15px 30px 15px 15px;
        color: $light-color;

        h3 {
            text-transform: uppercase;
            font-weight: normal;
            font-size: 24px;
            margin: 15px 0;

            @media (max-width: 768px) {
                flex: 1 0 100%;
                text-align: center;
                overflow: hidden;
                margin: 0 0 15px 0;
                
            }
        }

        p {
            margin: 12px 0 15px;
            line-height: 1.5;
            color: $light-color;

            @media (max-width: 768px) {
                text-align: center;
                margin: 0 0 15px 0;
            }
        }

        @media (max-width: 768px) {
            flex: 1 0 100%;
            padding: 0 15px 15px 15px;
        }
    }

    &.active {
        opacity: 1;
    }

    @media (max-width: 768px) {
        flex-wrap: wrap;
    }
}

.controls > a {
    position: absolute;
    top: 43%;  
    z-index: 2;
}

.prev {
    left: 3px;
}

.next {
    right: 3px;
    transform: scale(-1 , 1);
}

