* {
    box-sizing: border-box;
}

html {
    font-family: verdana, arial, sans-serif;
    font-size: 12px;
}

body {
    background: url(../img/background.jpg);
    background-position: 50% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.wrapper {
    max-width: $large;
    flex-grow: 1;
    padding: 0 15px;

    @media (max-width: 768px) {
        flex-wrap: wrap;
    }
}

h2 {
    margin: 10px 0;
    color: #0b81be;
    font-size: 2rem;
    font-weight: normal;
}

p {
    color: #858585;
    line-height: 1.75;
}

li {
    line-height: 1.5;
}




