.header {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;

    &-logo {
        display: flex;
        align-items: center;
    }
}

.menu {
    display: flex;
    position: relative;
    justify-content: flex-end;

    &-list {
        display: flex;
        align-items: center;
        
        text-decoration: none;
        list-style-type: none;
        color: $light-color;

        min-height: 40px;

        &__item {
            font-size: 12px;  
            margin-left: 7px;    

            a {
                border-radius: 15px;
                padding: 12px 15px;
                transition: all 0.5s;
                

                &:hover {
                    background-color: $base-color;
                }
            }
        }
    }

    .-style-active > a {
        background: linear-gradient(to bottom, #0f8bbe 0%, #2989d8 50%, #207cca 51%, #0eb7fe 100%);
    }
}