.left-sidebar {
    background-color: $light-color;
    position: relative;
    padding: 0 15px 15px 20px;
    flex: 0 0 300px;
    order: 2;

    ul {
       padding-left: 20px; 
    }

    li {
        position: relative;
        color: $base-color;
        list-style: none;
        font-style: italic;
        padding: 7.5px;
    }
    
    li::before {
        position: absolute;
        content: url(../img/main-list-arrow.png);
        margin-left: -15px;
    }
}

@media (min-width: 769px) {

    .left-sidebar::after {
    position: absolute;
    content: "";
    height: 90%;
    top: 15px;
    right: 0;
    border-right: 1px solid #dddddd;
    }
}
    